@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100;300;400;500;700;900&display=swap');
$primary-background: #ff0000;
$btn-background: #CC0000;
$btn-color: #fff;
$description-color: #515151;
$search-color: #CCCCCC;

@mixin fontFamily($fontFamily: font) {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

@mixin description($description: font) {
    color: #515151;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin description2($description2: font) {
    color: #515151;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin titleVideo($titleVideo: font) {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@mixin iconAndTitles($iconAndTitle: font) {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}